.rather-app-replace-twitter,
.rather-app-replace-facebook {

}

/* undo buttons */
.rather-app-undo {
	color:#5ecbd7 !important;
	text-transform: lowercase !important;
	font-weight: normal !important;
	text-decoration: none !important;
	font-size:	12px !important;
	margin-left:2px !important;
	display: inline-block !important;
	position: relative !important;
}

.rather-app-undo:hover {
	color:#5b8b94 !important;
	text-decoration: none !important;
}

/* force images to be responsive */
.rather-app-replacement .rather-app-replacement-image {
	width:100% !important;
	height:auto !important;
}

/* twitter */
.rather-app-replace-twitter {
	margin-bottom:25px !important;
}

.rather-app-replace-twitter .rather-avatar {
	position: relative;
	top: 0 !important;
	left: 0 !important;
	margin-left: 0px !important;
	margin-right: 10px !important;
	width: 20px !important;
	height: 20px !important;
	border-radius: 0 !important;
}

.rather-app-replace-twitter .rather-app-undo {
	left: -4px !important;
}

.rather-app-replacement-image-twitter {
	position: relative !important;
	top:-28px !important;
	margin-bottom: -23px !important;
}
/* facebook */
.rather-app-replace-facebook {
	
}

.rather-app-replace-facebook .rather-avatar {
	width: 20px !important;
	height: 20px !important;
	float: left !important;
	margin-right: 9px !important;
	margin-bottom:10px !important;
}

.rather-app-replace-facebook .rather-app-undo {
	left: -4px !important;
}
