#notification div,#notification a {
    padding: 18px 10% 15px;
    margin: 10px 0;
    display: block;
    width: 80%;
    clear: both;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    line-height: 1em;
    position: relative;
    font-size: 14px;
    transition: all 0.15s ease-out
}

#notification div .x,#notification a .x {
    top: 8px;
    right: -20px
}

#notification div.error,#notification a.error {
    background-color: #f9e1e1;
    border: 1px solid #dd6464;
    color: #d43a3a
}

#notification div.error:hover,#notification a.error:hover {
    background-color: #dd6464;
    color: #fff
}

#notification div.notice,#notification a.notice {
    background-color: #f6f2d8;
    border: 1px solid #dbc95a;
    color: #d2bb30
}

#notification div.notice:hover,#notification a.notice:hover {
    background-color: #dbc95a;
    color: #fff
}

#notification div.success,#notification a.success {
    background-color: #e8f9e1;
    border: 1px solid #86dd64;
    color: #65d43a
}

#notification div.success:hover,#notification a.success:hover {
    background-color: #86dd64;
    color: #fff
}

.btn,.submit,form.regular input.submit {
    width: auto;
    background-color: #5ecbd7;
    color: #fff;
    border-color: #dff4f6;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.15s ease-out
}

.btn:hover,.submit:hover,form.regular input.submit:hover {
    background-color: #dff4f6;
    color: #5ecbd7
}

body #main-screen {
    position: relative;
    transition: all 0.15s ease;
    left: 0
}

body#claim-open #main-screen,body#login-open #main-screen {
    left: 120%
}

body#claim-open #login-screen {
    left: 120%
}

body#claim-open #claim-screen {
    left: 5%
}

body#new-list-open #main-screen,body#edit-list-open #main-screen,body#contact-open #main-screen {
    left: -120%
}

body#login-open #login-screen {
    left: 5%
}

body#signup-open #signup-screen {
    left: 5%
}

body#new-list-open #new-list-screen {
    left: 5%
}

body#edit-list-open #edit-list-screen {
    left: 5%
}

body#contact-open #contact-screen {
    left: 5%
}

body #login-screen {
    transition: all 0.15s ease-out;
    left: -125%;
    position: absolute;
    width: 90%
}

body #claim-screen {
    transition: all 0.15s ease-out;
    left: -125%;
    position: absolute;
    width: 90%
}

body #signup-screen,body #new-list-screen,body #edit-list-screen,body #contact-screen {
    transition: all 0.15s ease-out;
    left: 125%;
    position: absolute;
    width: 90%
}

.icons-sprite,header h1,header nav .contact,header nav .profile,.search .submit-search,.kill-list ul li .toggles .twitter,.kill-list ul li .toggles .facebook,.filtering-action .twitter,.filtering-action .facebook,.filtering-options .twitter,.filtering-options .facebook,.filtering-action .twitter.active,.filtering-action .facebook.active,.filtering-options .twitter.active,.filtering-options .facebook.active,#claim-screen footer .contact .mail-icon,#login-screen footer .contact .mail-icon,#edit-list-screen .radio .check {
    background: url('/assets/images/icons-sdbf9451279.png') no-repeat
}

html#extension {
    min-width: 450px !important;
    min-height: 500px;
    overflow: hidden
}

::-webkit-scrollbar {
    height: 12px !important;
    width: 6px !important;
    background: #fff !important
}

::-webkit-scrollbar-thumb {
    background: #dff4f6 !important;
    -webkit-border-radius: 1ex !important
}

::-webkit-scrollbar-corner {
    background: #fff !important
}

body {
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: opacity 200ms ease-out
}

body.hidden {
    opacity: 0
}

template {
    display: none
}

.hide {
    display: none !important
}

#app {
    width: 410px;
    height: auto;
    padding: 0 20px;
    padding-bottom: 50px;
    position: relative;
    margin-top: 15px;
    overflow: hidden
}

#edit-list-open #app,#claim-open #app,#login-open #app {
    height: 435px;
}

#app.cp {
    max-width: 600px
}

a {
    color: #5ecbd7;
    text-decoration: none;
    transition: color 0.25s ease-out
}

a:hover {
    color: #2999a6
}

:focus {
    outline: none
}

.x {
    position: absolute;
    content: 'x';
    width: 30px;
    height: 20px;
    transition: all 0.25s ease-out;
    -webkit-transform: scale(1.2, 1);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 3px;
    -webkit-transform: translate(-20px, -8px)
}

.plus {
    position: absolute;
    content: '+';
    width: 10px;
    height: 10px;
    transition: all 0.25s ease-out;
    -webkit-transform: scale(1.2, 1)
}

header {
    color: #5ecbd7;
    text-align: center;
    position: relative
}

header h1 {
    position: relative;
    font-size: 40px;
    padding-top: 10px;
    text-indent: -999999px;
    background-position: 0 -256px;
    height: 34px;
    width: 125px;
    margin: 0 auto;
    padding-bottom: 0;
    margin-top: 20px;
}

header nav {
    width: 100%;
    display: block;
    overflow: hidden
}

header nav .contact,header nav .profile {
    position: absolute;
    left: 0;
    top: -5px;
    text-indent: -99999px;
    background-position: 0 -1237px;
    height: 33px;
    width: 30px
}

header nav .profile {
    top: -8px
}

.is-logged-in header nav .profile {
    display: none !important
}

header nav .contact {
    left: auto;
    right: 0;
    background-position: 0 -1371px;
    height: 25px;
    width: 35px
}

#edit-list-open header nav .profile,#edit-list-open header nav .contact,#claim-open header nav .profile,#login-open header nav .profile {
    display: none
}

.search {
    width: 100%;
    margin: 20px 0;
    display: block;
    position: relative
}

.search .twitter-typeahead {
    width: 91%;
    margin: 0 auto;
    padding: 14px 5%;
    border: none;
    border-radius: 22.5px;
    background: #dff4f6
}

.search input {
    width: 100%;
    -webkit-appearance: none;
    border: none;
    background: rgba(0,0,0,0);
    display: block;
    outline: none;
    color: #5ecbd7;
    font-size: 18px
}

.search input::-webkit-input-placeholder {
    color: #96cbd3
}

.search .tt-hint {
    top: 14px !important;
    left: 27px !important;
    opacity: 0.5
}

.search .submit-search {
    border: none;
    border-radius: 22.5px;
    background-color: #fff;
    background-position: 7px -1487px;
    width: 36px;
    height: 36px;
    display: block;
    padding: 0;
    position: absolute;
    top: 9.5px;
    margin-right: 2.5%;
    right: 0px;
    -webkit-box-shadow: #FFF 2px 2px 2px;
    box-shadow: #5ecbd7 0px 0px 2px;
    cursor: pointer
}

.search .tt-dropdown-menu {
    display: block;
    margin: 0 44px;
    padding: 0;
    font-size: 12px;
    background: white;
    position: absolute;
    width: 80%;
    left: -20px
}

.search .tt-dropdown-menu .item {
    position: relative;
    border-bottom: 1px solid #dff4f6;
    padding: 4px 20px 8px 15px;
    margin: 6px 4px 0 0;
    overflow: hidden;
    -webkit-transition: all 200ms ease-out
}

.search .tt-dropdown-menu .item.footer {
    border: none
}

.search .tt-dropdown-menu .item a {
    color: #5ecbd7;
    display: block;
    width: 100%;
    height: 100%
}

.search .tt-dropdown-menu .item .plus {
    left: -20px
}

.search .tt-dropdown-menu .item:hover {
    padding-left: 24px;
    font-weight: bold
}

.search .tt-dropdown-menu .item:hover .plus {
    left: 12px
}

.tabs {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: block;
    clear: both;
    width: 100%
}

.tabs ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px
}

.tabs ul.nav li {
    float: left;
    margin: 0;
    display: inline-block;
    width: 29%;
    text-align: center
}

.tabs ul.nav li:last-of-type {
    width: 21%
}

.tabs ul.nav li:last-of-type a {
    border-right: none
}

.tabs ul.nav li:first-of-type {
    width: 21%
}

.tabs ul.nav li a {
    color: #a1a198
}

.tabs ul.nav li a.active {
    color: #5ecbd7;
    font-weight: bold
}

.tabs ul.nav li a:hover {
    color: #5ecbd7
}

.tabs ul.nav li a.tab-feeds {
    color: #5b8b94
}

.tabs ul.nav li a.tab-feeds:hover {
    color: #446d75
}

.tabs ul.nav li a.tab-feeds.active {
    color: #5b8b94;
    font-weight: bold
}

.tabs ul.nav a {
    border-right: 2px solid #efefe9;
    width: 100%;
    display: block;
    text-align: center;
    padding: 4px 0
}

.tabs ul.content {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 8px;
    clear: both;
    font-size: 14px;
    background-color: #efefe9;
    border-radius: 5px;
    line-height: 1.5em
}

.tabs ul.content a {
    color: #a1a198;
    padding-right: 5px;
    white-space: nowrap;
    display: inline-block
}

.tabs ul.content a:hover {
    color: #434331
}

.tabs ul.content li {
    padding: 10px;
    clear: both;
    display: block
}

.kill-list {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: #dff4f6;
    border-radius: 5px;
    margin: 15px 0
}

.kill-list h2 {
    padding: 14px 18px 0;
    font-size: 14px;
    font-weight: normal;
    color: #7ba2a9;
    position:relative;
}

.kill-list h2 a {
    position:absolute;
    right: 20px;
}

.kill-list p {
    font-size: 12px;
    color: #5b8b94;
    padding: 10px 18px
}

.kill-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px
}

.kill-list ul li {
    cursor: pointer;
    border-top: 1px solid #d5edef;
    padding: 10px 18px;
    color: #5b8b94;
    transition: all 0.25s ease-out;
    position: relative;
    overflow: hidden
}

.kill-list ul li .x {
    left: -20px
}

.kill-list ul li .toggles {
    float: right;
    margin-right: 0
}

.kill-list ul li .toggles a {
    -webkit-transition: all 200ms ease-out;
    opacity: .4
}

.kill-list ul li .toggles a:hover {
    opacity: .9
}

.kill-list ul li .toggles a.active {
    opacity: 1
}

.kill-list ul li .toggles a.active:hover {
    opacity: .5
}

.kill-list ul li .toggles .twitter {
    display: inline-block;
    background-position: 0 -1018px;
    height: 12px;
    width: 15px;
    text-indent: -9999px
}

.kill-list ul li .toggles .facebook {
    display: inline-block;
    background-position: 0 -1185px;
    height: 12px;
    width: 12px;
    text-indent: -9999px;
    margin-right: 8px
}

.kill-list ul li:hover {
    background-color: #d5edef;
    padding-left: 30px
}

.kill-list ul li:hover .x {
    left: 18px;
    color: #486d74
}

.replacement {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: #5b8b94;
    border-radius: 5px;
    margin: 15px 0 0 0
}

.replacement h2 {
    padding: 14px 23px 0;
    font-size: 14px;
    font-weight: normal;
    color: #345055
}

.replacement input {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 10px 2%;
    -webkit-appearance: none;
    border: none;
    border-radius: 22.5px;
    background: #446d75;
    outline: none;
    color: #5b8b94;
    font-size: 14px
}

.replacement input::-webkit-input-placeholder {
    color: #5b8b94
}

.replacement .below {
    margin-top: 17px;
    border-top: 1px solid #446d75
}

.replacement .below p {
    font-size: 12px;
    color: #fff;
    padding: 17px 18px 15px
}

.replacement ul {
    list-style: none;
    margin: 0;
    padding: 17px 18px 15px;
    font-size: 12px
}

.replacement ul li {
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #517c84;
    padding: 4px 20px 4px 4px;
    margin: 6px 4px 0 0;
    position: relative;
    transition: all 0.25s ease-out;
    cursor: pointer
}

.replacement ul li:hover {
    border-color: 1px solid #3e5f65;
    background-color: #55828b
}

.replacement ul li:hover .x {
    color: #fff
}

.replacement ul li .x {
    -webkit-transform: none;
    padding: 0;
    width: 10px;
    height: 10px;
    right: 4px;
    top: 4px;
    color: #486d74
}

.filtering-options {
    width: 156px !important
}

.filtering-action {
    width: 124px !important;
    margin-right: -16px;
    top: -3px
}

.divider {
    width: 3px;
    height: 35px;
    position: absolute;
    background: #dff4f6;
    left: 284px;
    top: 0
}

.filtering-action,.filtering-options {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 12px;
    color: #b1c0c1;
    width: 50%;
    float: left;
    position: relative;
    margin-bottom: 5px;
    padding-top: 3px
}

.filtering-action .twitter,.filtering-action .facebook,.filtering-options .twitter,.filtering-options .facebook {
    background-position: 0 -1555px;
    height: 21px;
    width: 21px;
    text-indent: -9999px;
    display: block;
    position: absolute;
    right: 35px;
    top: 0
}

.filtering-action .twitter.active,.filtering-action .facebook.active,.filtering-options .twitter.active,.filtering-options .facebook.active {
    background-position: 0 -1616px;
    height: 21px;
    width: 21px
}

.filtering-action .twitter,.filtering-options .twitter {
    background-position: 0 -1310px;
    height: 21px;
    width: 26px;
    right: 2px
}

.filtering-action .twitter.active,.filtering-options .twitter.active {
    background-position: 0 -1436px;
    height: 21px;
    width: 26px
}

footer {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    padding-top: 12px
}

footer .inner {
    margin: 0 40px 0 15px
}

.filtering-action {
    position: relative;
    width: 40%;
    float: right
}

.filtering-action .switch {
    width: 35px;
    height: 21px;
    margin: 0 auto;
    display: block;
    background: #5ecbd7;
    -webkit-transition: all 100ms ease-out;
    cursor: pointer;
    position: relative;
    right: -5px;
    border-radius: 11px
}

.filtering-action .switch.on {
    background: #5b8b94
}

.filtering-action .switch .ball {
    width: 17px;
    height: 17px;
    display: block;
    background: #fff;
    border-radius: 9px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all 0.15s ease-out
}

.filtering-action .switch.on .ball {
    -webkit-transform: translate(14px, 0)
}

.filtering-action .mute,.filtering-action .replace {
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
    color: #b1c0c1
}

.filtering-action .mute {
    left: auto;
    right: 0
}

form.regular .submit,form.regular textarea.input,form.regular input.input {
    width: 95%;
    display: block;
    padding: 10px 2.5%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    border: none;
    border-radius: 10px;
    border: 1px solid #dff4f6;
    outline: none;
    color: #5ecbd7;
    font-size: 18px;
    transition: all 0.25s ease-out
}

form.regular .submit:focus,form.regular textarea.input:focus,form.regular input.input:focus {
    background-color: #dff4f6;
    color: #5b8b94
}

form.regular .submit:focus::-webkit-input-placeholder,form.regular textarea.input:focus::-webkit-input-placeholder,form.regular input.input:focus::-webkit-input-placeholder {
    color: #5b8b94
}

form.regular textarea {
    max-width: 95%;
    min-width: 95%;
    max-height: 400px;
    min-height: 200px
}

form.regular.sand textarea.input,form.regular.sand input.input {
    background-color: #efefe9;
    border-color: #efefe9;
    color: #434331
}

form.regular.sand textarea.input:focus::-webkit-input-placeholder,form.regular.sand input.input:focus::-webkit-input-placeholder {
    color: #434331
}

hr {
    background-color: #dff4f6;
    border: none;
    height: 1px;
    margin: 40px
}

#claim-screen p,#login-screen p {
    font-size: 18px;
    text-align: center;
    color: #6a979b;
    margin: 0
}

#claim-screen p:first-child,#login-screen p:first-child {
    padding-top: 30px
}

#claim-screen form,#login-screen form {
    margin-top: 30px
}

#claim-screen form:after,#login-screen form:after {
    clear: both
}

#claim-screen form input,#login-screen form input {
    background: #dff4f6;
    color: #5b8b94;
    padding-top: 15px;
    padding-bottom: 15px
}

#claim-screen form input::-webkit-input-placeholder,#login-screen form input::-webkit-input-placeholder {
    color: #5b8b94
}

#claim-screen form input.password,#login-screen form input.password {
    float: left;
    width: 65%;
    margin-right: 10px
}

#claim-screen form input.submit,#login-screen form input.submit {
    color: white;
    background: #5ecbd7;
    font-weight: bold;
    font-size: 18px;
    float: left;
    width: 27.03%
}

#claim-screen footer,#login-screen footer {
    float: none;
    padding-top: 0;
    display: block;
    position: static;
    margin-top: 100px
}

#claim-screen footer .contact,#login-screen footer .contact {
    background: #c7cece;
    display: block;
    margin-top: 30px;
    width: 154px;
    padding: 15px 10px;
    border-radius: 5px;
    color: white
}

#claim-screen footer .contact .mail-icon,#login-screen footer .contact .mail-icon {
    margin: 0 2px 0 10px;
    display: inline-block;
    position: relative;
    top: 3px;
    background-position: 0 -602px;
    height: 18px;
    width: 27px
}

#claim-screen input.password {
    float: none !important;
    width: 95% !important;
    margin-right: 0 !important
}

#claim-screen input.password_confirmation {
    float: left;
    width: 65%;
    margin-right: 10px
}

.cancel {
    position: absolute;
    top: 13px;
    left: 0;
    display: none
}

#claim-open .cancel,#login-open .cancel,#edit-list-open .cancel {
    display: block
}

.save {
    position: absolute;
    top: 13px;
    right: 0;
    display: none
}

#edit-list-open .save {
    display: block
}

#edit-list-screen form {
    margin-top: 20px
}

#edit-list-screen p {
    font-size: 14px;
    color: #97978c
}

#edit-list-screen textarea {
    font-size: 14px
}

#edit-list-screen .radio {
    position: relative;
    font-size: 14px;
    color: #5ecbd7;
    border: 1px solid #c7cece;
    border-radius: 5px;
    padding: 16px 20px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

#edit-list-screen .radio:hover {
    color: #5b8b94
}

#edit-list-screen .radio .box {
    position: absolute;
    right: 15px;
    width: 24px;
    height: 25px;
    background: #dff4f6;
    border-radius: 2px;
    top: 12px
}

#edit-list-screen .radio .check {
    position: absolute;
    left: 6px;
    top: 1px;
    display: none;
    background-position: 0 -1497px;
    height: 18px;
    width: 24px
}

#edit-list-screen .radio.active .box .check {
    display: block
}
